:root{
  --primary-color:#5FFAF4;
  --secondary-color:#5FCEFA;
  --background-color:#5FFAC0;
  --letter-color:#5F6CFA;
}
.TodoItem .TodoItem-p{
    
    width: calc(100% - 120px);
    font-size:1.8rem;
    line-height: 1.2rem;
    font-weight:400;
}

.TodoItem-p--complete{
    text-decoration:line-through;
}

