:root{
    --primary-color:#5FFAF4;
    --secondary-color:#5FCEFA;
    --background-color:#5FFAC0;
    --letter-color:#5F6CFA;
}
body{
    background-color:var(--secondary-color);
    
}

.main-container-component{
    width:100%;
    height:75vh;
    display:grid;
    place-items: center;
    gap:45px;
    position:absolute;
    
}