.add-newtodo-container{
    width:385px;
    height:350px;
    background-color:whitesmoke;
    border-radius: 8px;
    display:flex;
    flex-direction:column;
    padding:16px;
    position:relative;
    left:800px;
    top:185px;
    box-shadow: 20px 21px 3px rgba(0,0,0,0.5);
}

.button-box-container{
    width:250px;
    height:45px;
    display:flex;

    gap:45px;
}
.btn-box-container{
    background-color:aquamarine;
    color:black;
}

.btn-cancel--newtask-container:hover{
    background-color:brown;
    color:white;
    cursor:pointer;
    border:none;
}