.list-container{
    width:50%;
    height:360;
    display:flex;
    flex-direction:column;
    text-decoration: none;
    list-style:none;
}

.list-container li{
    width:215px;
    height:17px;
    background-color:whitesmoke;
    margin-bottom: 13px;
    margin-top:5px;
    text-align:center;
    padding:14px;
    display: flex;
    flex-direction:row;
    border-radius:16px;
    box-shadow: 4px 4px 8px rgba(0,0,0,0.5);
    gap:8px;

}

.list-container li:hover{
    background-color:beige;
    cursor:pointer;
}