input{
    width:215px;
    height: 41px;
    padding:8px;
    border:2px solid #202329;
    outline: none;
    box-shadow:8px 4px 12px rgba(0,0,0,0.5);
    border-radius:4px;
    margin-bottom:21px;


}


.TodoSearch::placeholder{
    color:grey;
    font-weight:400;
    font-size:1.8rem;
}

.TodoSearch:focus{
    outline-color:black;
}